<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <client>
      
        <endpoint name="httpEndpoint" address ="http://localhost:9000/HelloService" binding="basicHttpBinding" contract="HelloCompLibrary.IHello"></endpoint>
        <!--<endpoint name="tcpEndpoint" address ="net.tcp://localhost:9001/helloservice" binding="netTcpBinding" contract="HelloCompLibrary.IHello"></endpoint>-->
        <!-- new in .net4.5-->
        <!--<endpoint address ="" binding="udpBinding" contract="HelloCompLibrary.IHello"></endpoint>-->
      </client>
    
  </system.serviceModel>
</configuration>