<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHello" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHello" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/HelloService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHello" contract="IHello"
                name="BasicHttpBinding_IHello" />
            <endpoint address="net.tcp://localhost:9001/helloservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHello" contract="IHello"
                name="NetTcpBinding_IHello">
                <identity>
                    <userPrincipalName value="a037971@harlandclarke.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>