<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetUrl="http://localhost:9191/mservice" httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="CalculatorServiceHost.MathService" behaviorConfiguration="Default">
        <endpoint address ="http://localhost:9020/MathService" binding="basicHttpBinding" contract="CalculatorServiceHost.IMath"></endpoint>
        <endpoint address ="http://localhost:9023/MathService" binding="wsHttpBinding" contract="CalculatorServiceHost.IMath"></endpoint>
        <endpoint address ="net.tcp://localhost:9012/MathService" binding="netTcpBinding" contract="CalculatorServiceHost.IMath"></endpoint>
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:9020/MathService"/>
            <add baseAddress="net.tcp://localhost:9012/MathService"/>
          </baseAddresses>
        </host>-->
      </service>
    </services>
  </system.serviceModel>
</configuration>